-- Create business_customers table
create table if not exists public.business_customers (
  id uuid default gen_random_uuid() primary key,
  business_id uuid references public.businesses(id) on delete cascade not null,
  name text not null,
  phone text,
  status text default 'new',
  color text,
  tag text,
  created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Enable RLS
alter table public.business_customers enable row level security;

-- Policies
create policy \
Owners
can
view
their
business
customers\ on public.business_customers
  for select using (business_id in (select id from public.businesses where owner_id = auth.uid()));

create policy \Owners
can
insert
business
customers\ on public.business_customers
  for insert with check (business_id in (select id from public.businesses where owner_id = auth.uid()));

create policy \Owners
can
update
business
customers\ on public.business_customers
  for update using (business_id in (select id from public.businesses where owner_id = auth.uid()));

create policy \Owners
can
delete
business
customers\ on public.business_customers
  for delete using (business_id in (select id from public.businesses where owner_id = auth.uid()));

